# version: "3.9"

# services:
#   web:
#     build: .
#     container_name: shopmax_web
#     env_file:
#       - .env
#     ports:
#       - "8000:8000"
#     volumes:
#       - .:/app
#       - static_volume:/app/staticfiles
#     depends_on:
#       - wait-for-supabase
#     command: ["python", "manage.py", "runserver", "0.0.0.0:8000"]

#   wait-for-supabase:
#     image: busybox
#     command: sh -c "sleep 5"  # simulate small delay for Supabase to be ready

# volumes:
#   static_volume:

# docker-compose.yml
version: "3.9"

services:
  web:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - .:/app
