{% load static %}

<div class="" style="margin-bottom: 1rem;">

        <div class="col-md-12 order-1 align-self-end" style="padding: 0;">

            <img src="{% static 'images/nothingphone.webp'%}" alt="Image" class="" 
                style="background-position: center;width:100%;height:400px">


            <!-- <div class="site-blocks-cover"> -->
            <!-- <div class=""> -->
            <!-- <div id="wrapper" style="width: 100%; display:flex; align-items:center; justify-content:center">
    <link rel="stylesheet" href="{% static 'css/bannercss.css'%}">

    <link href="https://fonts.googleapis.com/css?family=Do+Hyeon|Frijole|Josefin+Sans:300,400,400i,600,700|Viga"
        rel="stylesheet">
    <svg class="Banner2" height="220" width="450">
            <polygon class="BorderAnimationEx2 BannerBorderEx2" stroke-miterlimit="10"
                points="30 5, 20 200, 440 170, 440 55" style="fill:none; stroke:#000; stroke-width:5" />
                <polygon class="BannerHolderEx2" points="5 31, 5 185, 410 205, 430 10" style="opacity:0.2;fill:#000;" />
                <polygon class="BannerHolderEx2" points="5 31, 5 180, 410 200, 430 10"
                    style="opacity:1;fill:#0ADBB3;" />
                    <text class="SalesEx2" font-family="Viga" font-size="65">
                        <tspan fill="#000" opacity="0.8" x="43" y="120" font-family="Viga" font-size="65" opacity="1">
                            OFFER</tspan>
                        <tspan x="43" y="117" font-family="Viga" font-size="65" opacity="1" fill="#fff">OFFER</tspan>
                    </text>

                    <text class="Mega" font-weight="300" font-family="Josefin Sans" font-size="23" fill="#000">
                        <tspan font-weight="700" x="280" y="60">MEGA</tspan>
                        <tspan x="280" y="97">SALES</tspan>
                        <tspan font-weight="700" x="270" y="136">LIMITED</tspan>
                        <tspan x="260" y="175">QUANTITY</tspan>
                    </text>


                    <text class="ShopNowEx2" font-family="Josefin Sans" font-weight="700" font-size="20" fill="#fff">
                        <tspan fill="#000" x="65" y="157">S H O P&nbsp; &nbsp;N O W</tspan>
                        <tspan x="65" y="155">S H O P&nbsp; &nbsp;N O W</tspan>

                    </text>


                        <polyline class="BorderAnimationEx2 BannerBorderLineEx2" points="30 3, 20 200"
                            style="fill:none; stroke:#000; stroke-width:4.5;" />


                        Sorry, your browser does not support inline SVG.
    </svg>

</div > -->

        </div>
</div>
