{% extends 'base.html' %}  
  {% block content %}
  <style>
    .image-cell {
      width: 150px; /* Adjust the width as needed */
      height: 150px; /* Adjust the height as needed */
  }
  .image-cell img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
  }

  </style>
    <div class="py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="{% url 'home' %}">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Cart</strong></div>
        </div>
      </div>
    </div>
    {% if cart_products %}
    <div class="site-section">
      <div class="container">
        <div class="row mb-5">
          <form class="col-md-12" method="post">
            <div class="site-blocks-table">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th class="product-thumbnail" style="width: 400px;">Image</th>
                    <th class="product-name">Product</th>
                    <th class="product-price">Price</th>
                    <th class="product-remove">Remove</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- {{cart_products.id}} -->
                 
                  {%for product in cart_products%}
                  <tr>
                    <td class="product-thumbnail image-cell">
                      <img src="{{product.images1.url}}" alt="Image" class="img-fluid">
                    </td>
                    <td class="product-name">
                      <h2 class="h5 text-black">{{product.name}}</h2>
                    </td>
                    <td>{{product.price}}</td>
                    <td><button type="button" data-index="{{product.id}}" class="btn btn-danger delete-product">Remove</button></td>

                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </form>
        </div>

        <div class="row" style="width: 100%;">
          <div class="col-md-12">
            <div class="row justify-content-end">
              <div class="col-md-4">
                <div class="row">
                  <div class="col-md-12 text-right border-bottom mb-5">
                    <h3 class="text-black h4 text-uppercase">Cart Totals</h3>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-md-6">
                    <span class="text-black">Subtotal</span>
                  </div>
                  <div class="col-md-6 text-right">
                    <strong class="text-black">&#x20b9;{{subtotal}}</strong>
                  </div>
                </div>
                <div class="row mb-5">
                  <div class="col-md-6">
                    <span class="text-black">Total</span>
                  </div>
                  <div class="col-md-6 text-right">
                    <strong class="text-black">&#x20b9;{{total}}</strong>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <a href="{% url 'checkout' %}"><button class="btn btn-primary btn-lg btn-block">Proceed To Checkout</button></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% else %}
    <div class="container-fluid empty_cart">
      <h3>There is nothing to show in our cart..</h3>
      <br><br><br><br><br><br><br><br><br><br>
    </div>
    
  {% endif %}

    <br><br><br><br><br>


  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script>
$(document).on('click', '.delete-product', function(e){
  e.preventDefault();
  console.log('immmm')
  $.ajax({
  type: 'POST',
  url: '{% url "cart_delete" %}',
  data: {
    product_id: $(this).data('index'),
    csrfmiddlewaretoken: '{{ csrf_token }}',
    action: 'post'
  },
  success: function(json){
      location.reload();
  },

  error: function(xhr, errmsg, err){

  }


  });

})
</script>


{% endblock%}


