{% extends 'base.html' %}
{% block content %}
<div class="bg-light py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-0"><a href="index.html">Home</a> <span class="mx-2 mb-0">/</span> <a
          href="cart.html">Cart</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Checkout</strong></div>
    </div>
  </div>
</div>

<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mb-5 mb-md-0">
        <h2 class="h3 mb-3 text-black">Billing Details</h2>
        <div class="p-3 p-lg-5 border">
          <div class="form-group row">
            <div class="col-md-6">
              <label for="c_fname" class="text-black">First Name <span class="text-danger">*</span></label>
              <input type="text" class="form-control" id="c_fname" name="c_fname">
            </div>
            <div class="col-md-6">
              <label for="c_lname" class="text-black">Last Name <span class="text-danger">*</span></label>
              <input type="text" class="form-control" id="c_lname" name="c_lname">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-12">
              <label for="c_address" class="text-black">Address <span class="text-danger">*</span></label>
              <textarea name="address" id="c_address" class="form-control"></textarea>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="c_country" class="text-black">State <span class="text-danger">*</span></label>
                <select id="c_country" class="form-control">
                  <option value="1">Select a state</option>
                  <option value="2">bangladesh</option>
                  <option value="3">Algeria</option>
                  <option value="4">Afghanistan</option>
                  <option value="5">Ghana</option>
                  <option value="6">Albania</option>
                  <option value="7">Bahrain</option>
                  <option value="8">Colombia</option>
                  <option value="9">Dominican Republic</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <label for="c_postal_zip" class="text-black">Pincode <span class="text-danger">*</span></label>
              <input type="text" class="form-control" id="c_postal_zip" name="c_postal_zip">
            </div>
          </div>

          <div class="form-group row mb-5">
            <div class="col-md-6">
              <label for="c_email_address" class="text-black">Email Address <span class="text-danger">*</span></label>
              <input type="text" class="form-control" id="c_email_address" name="c_email_address">
            </div>
            <div class="col-md-6">
              <label for="c_phone" class="text-black">Phone <span class="text-danger">*</span></label>
              <input type="text" class="form-control" id="c_phone" name="c_phone" placeholder="Phone Number">
            </div>

          </div>
          <div class="form-group">
            <a href="{% url 'thankyou' %}">
              <button class="btn btn-primary btn-lg btn-block" type="submit">Update Address</button></a>
          </div>
        </div>
      </div>
      <div class="col-md-6">

        <div class="row">
          <div class="col-md-12">
            <label class="text-black h4" for="coupon">Coupon</label>
            <p>Enter your coupon code if you have one.</p>
          </div>
          <form action="{% url 'checkout' %}" method="POST" style="display: flex;">
            {% csrf_token %}
            <div class="col-md-8 mb-3 mb-md-0">
              <input type="text" class="form-control" style="width: 300px;" id="coupon" placeholder="Coupon Code"
                name="coupon">
            </div>
            <div class="col-md-4">
              <button class="btn btn-primary btn-sm px-4">Apply Coupon</button>
            </div>

          </form>
          {% if messages %}
          {% for message in messages %}
          <P>*{{message}}</P>
          {% endfor %}
          {% endif %}
        </div>

        <div class="row mb-5">
          <div class="col-md-12">
            <h2 class="h3 mb-3 text-black">Your Order</h2>
            <div class="p-3 p-lg-5 border">
              <table class="table site-block-order-table mb-5">
                <thead>
                  <th>Product</th>
                  <th>Total</th>
                </thead>
                <tbody>
                  {%for product in cart_products%}
                  <tr>
                    <td class="product-name">
                      {{product.name}}
                    </td>
                    <td>{{product.price}}</td>
                  </tr>
                  {% endfor %}

                  <tr>
                    <td class="text-black font-weight-bold">Cart Subtotal</td>
                    <td class="text-black"><strong class="text-black">&#x20b9;{{subtotal}}</strong></td>
                  </tr>
                  <tr>
                    <td class="text-black font-weight-bold"><strong>Order Total</strong></td>
                    <td class="text-black font-weight-bold"> <strong class="text-black">&#x20b9;{{total}}</strong></td>
                  </tr>
                </tbody>
              </table>

              <div class="border p-3 mb-3">
                <h3 class="h6 mb-0"><a class="d-block" data-toggle="collapse" href="#collapsebank" role="button"
                    aria-expanded="false" aria-controls="collapsebank">CASH ON DELIVERY</a></h3>

                <div class="collapse" id="collapsebank">
                  <div class="py-2">
                    <p class="mb-0">Please note that payment is due upon delivery. Kindly pay in cash when you receive
                      your product. Thank you for shopping with us!</p>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <a href="{% url 'thankyou' %}">
                  <button class="btn btn-primary btn-lg btn-block" type="submit">Place Order</button></a>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
{% endblock %}