
{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}
{% block content %}

<style>
    /* Google Fonts Link */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Resetting default styling and setting font-family */

.parent{
    /* position: relative;
    width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Login form styling */
.login_form1 {

    
    width: 100%;
    max-width: 435px;
    /* background: #eee7e7; */
    backdrop-filter: blur(100px);
    border: thin solid rgb(78, 76, 76);
    background-color: white;
    border-radius: 6px;
    padding: 41px 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.login_form1 h3 {
    font-size: 25px;
    text-align: center;
    font-size: 25px;
    font-family: serif;
    color: black;
    text-transform: uppercase;
}
.forgotpass{
    width: 100%; 
    text-align:end;
    display:block;
    padding:5px;
    margin-bottom: 10px;
}

/* Google & Apple button styling */

.login_form1 .login_option {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.login_form1 .login_option .option {
    width: calc(100% / 2 - 12px);
}

.login_form1 .login_option .option a {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background: #F8F8FB;
    border: 1px solid #DADAF2;
    border-radius: 5px;
    margin: 34px 0 24px 0;
    text-decoration: none;
    color: #171645;
    font-weight: 500;
    transition: 0.2s ease;
}

.login_form1 .login_option .option a:hover {
    background: #ededf5;
    border-color: #626cd6;
}

.login_form1 .login_option .option a img {
    max-width: 25px;
}

.login_form1 p {
    text-align: center;
    font-weight: 500;
}
.sign_up p{
    color: black;
}
.login_form1 .separator {
    position: relative;
    margin-bottom: 10px;
}

/* Login option separator styling */
.login_form1 .separator span {
    background: #fff;
    z-index: 1;
    padding: 0 10px;
    position: relative;
}

.login_form1 .separator::after {
    content: '';
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    height: 1px;
    background: #333333;
    display: block;
}

form .input_box label {
    display: block;
    font-weight: 500;
    margin-bottom: 8px;
    color: white;
}
a{
    color: white;
}

/* Input field styling */
form .input_box input {
    width: 100%;
    height: 57px;
    border: 1px solid #DADAF2;
    border-radius: 5px;
    outline: none;
    background: #F8F8FB;
    font-size: 17px;
    padding: 0px 20px;
    margin-bottom: 25px;
    transition: 0.2s ease;
}

form .input_box input:focus {
    border-color: #626cd6;
}

form .input_box .password_title {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

form .input_box {
    position: relative;
}

a {
    text-decoration: none;
    color: #626cd6;
    font-weight: 500;
}

a:hover {
    text-decoration: underline;
}

/* Login button styling */
form button {
    width: 100%;
    height: 56px;
    border-radius: 5px;
    border: none;
    outline: none;
    background: #626CD6;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    margin-bottom: 28px;
    transition: 0.3s ease;
}

form button:hover {
    background: #4954d0;
}
.cross{
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
}
/* .login_form1 p{
    color: white;
} */
.site-navbar a{
    color: rgb(114, 112, 112);
}
</style>

<div class="parent">
    <div class="login_form1" id="forms" style="z-index: 1001;">
      <!-- Login form container -->

      <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <!-- Login option separator -->
          <h3>Login</h3>

        {% if messages %}
          {% for message in messages %}
            <p>{{message}}</p>
          {% endfor %}
        {% endif %}

        <!-- Email input box -->
        <div class="input_box">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" placeholder="Enter email address" required />
        </div>

        <!-- Paswwrod input box -->
        <div class="input_box">
          <input type="password" id="password" name="password" placeholder="Enter your password" required />
          <span class="forgotpass"><a href="#">Forgot Password?</a></span>
        </div>

        <!-- Login button -->
        <button type="submit">Log In</button>

        <p class="sign_up">Don't have an account? <a href="{% url 'register' %}" >Sign
            up</a></p>


        <p class="separator">
          <span style="color: black;">or</span>
        </p>
        <h3>Log in with</h3>
        <div class="login_option">
          <!-- Google button -->
          <div class="option">
      
            {% comment %} <a href="{% provider_login_url 'google' %}"> {% endcomment %}
            <a href="/accounts/google/login/">
              <img src="{% static 'logos/google.png' %}" alt="Google" />
              <span>Google</span>
            </a>
          </div>

          <!-- Apple button -->
          <div class="option">
            <a href="#">
              <img src="{% static 'logos/apple.png' %}" alt="Apple" />
              <span>Apple</span>
            </a>
          </div>
        </div>
      </form>
    </div>
  </div>

{% endblock %}