{% extends 'base.html'%}
{% load static %}

    {% block content %}

    <style>
      img{
        object-fit: contain;
        background-size: cover;
        background-attachment: fixed;
      } 

    </style>
    <div class = "card-wrapper" style="padding:10px; height: auto;">
      <div class = "cards">
        <!-- card left -->
        <div class = "product-imgs" style="height: 800px; width:400px;margin:50px;">
          <div class = "img-display" style=" margin-bottom:50px">
            <div class = "img-showcase" style="height: 500px;">
              <img src ="{{product.images1.url}}"  alt = "product images" class="img-fluid" >
              <img src = "{{product.images2.url}}"  alt = "product images">
              <img src = "{{product.images3.url}}"  alt = "product images">
              <img src = "{{product.images4.url}}"  alt = "product images">
            </div>
          </div>
          <div class = "img-select" >
            <div class = "img-item" >
              <a href = "#" data-id = "1">
                <img src = "{{product.images1.url}}" alt = "product images" style="height: 120px; width:100px">
              </a>
            </div>
            <div class = "img-item">
              <a href = "#" data-id = "2">
                <img src = "{{product.images2.url}}" alt = "product images" style="height: 120px; width:100px">
              </a>
            </div>
            <div class = "img-item">
              <a href = "#" data-id = "3">
                <img src = "{{product.images3.url}}" alt = "product images" style="height: 120px; width:100px">
              </a>
            </div>
            <div class = "img-item">
              <a href = "#" data-id = "4">
                <img src = "{{product.images4.url}}" alt = "product images" style="height: 120px; width:100px;">
              </a>
            </div>
          </div>
        </div>
        <!-- card right -->
        <div class = "product-content" style="margin-top: calc(var(--top-value) + 500px);">
          <h2 class = "product-title">{{product.name}}</h2>

          <div class = "product-price">
            <p class = "last-price">Old Price: <span>&#x20b9;{{product.mrp}}</span></p>
            <p class = "new-price" style="">New Price: <span style="color: rgb(47, 46, 46);">&#x20b9;.{{product.price}} &nbsp;(&#8722;<span style="color: black;" id="discount"></span>&#37;)</span></p>
          </div>

          <div class = "product-detail">

          <div class="highlights"> <br>
            <h4>Highlights</h4>
            <div class="highlightsdetails">
              {% if product.Category.name == "mobile phones" %}
              <ul>
                <h1>{{cat}}</h1>
                <li>RAM/ROM: &nbsp;{{product.description1}}</li> <!-- RAM/ROM-->
                <li>DISPLAY: &nbsp;{{product.description2}}</li> <!-- Display-->
                <li>CAMERA: &nbsp;{{product.description3}}</li> <!--camera-->
                <li>BATTERY: &nbsp;{{product.description4}}</li> <!--Battery-->
                <li>PROCESSOR: &nbsp;{{product.description5}}</li> <!--processor-->
              </ul>
             {% else %}
              <ul>
                <h1>{{cat}}</h1>
                <li>&nbsp;{{product.description1}}</li> <!-- RAM/ROM-->
                <li>&nbsp;{{product.description2}}</li> <!-- Display-->
                <li>&nbsp;{{product.description3}}</li> <!--camera-->
                <li>&nbsp;{{product.description4}}</li> <!--Battery-->
                <li>&nbsp;{{product.description5}}</li> <!--processor-->
              </ul>
              {% endif %}

              <ul>
                <li>No cost EMI starting from ₹7,223/month</li>
                <li>Cash on Delivery</li>
                <li>Net banking & Credit/ Debit/ ATM card</li>
              </ul>
            </div>

            <div class="description">
              <h4>Description</h4>
              <p>{{product.mainDescription}}</p>
              
            </div>
            </div>
          </div>
          <div class = "purchase-info">
            
            <button type = "button" value="{{product.id}}" class = "btn btn-buy" id="add-cart" onclick="changecolor2()">
              Add to Cart <i class = "fas fa-shopping-cart"></i>
            </button>
            <button type = "button" class = "btn" id="add-cart" value="{{product.id}}" style="background-color: white; color:black"><a href="{% url 'cart_summary' %}">Buy Now</button></a>
          </div>

          <div class = "social-links">
            <div class="shareat" style="margin-right: 10px;">
             Share At: </div>
            <a href = "https://www.facebook.com/">
              <i class = "fab fa-facebook-f"></i>
            </a>
            <a href = "https://x.com/?lang=en">
              <i class = "fab fa-twitter"></i>
            </a>
            <a href = "https://www.instagram.com/">
              <i class = "fab fa-instagram"></i>
            </a>
            <a href = "https://web.whatsapp.com/">
              <i class = "fab fa-whatsapp"></i>
            </a>
          </div>
          <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
      </div>

    </div>



    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script>
      discount_placeholder = document.getElementById('discount');
      mrp = {{product.mrp}}
      
      current_price = {{product.price}}

      discount = ((mrp-current_price)/mrp)*100;
      discount_placeholder.textContent = Math.round(discount);

      //check if btn is pressed
      $(document).on('click', '#add-cart', function(e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '{% url "cart_add" %}',
            data: {
                product_id: $('#add-cart').val(),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
            },
            success: function(json){
                document.getElementById('cart_quantity').textContent = json.qty;
            },
            error: function(xhr, errmsg, err){
                // Handle error
            }
        });
    });
  </script>
  <script>
    function changecolor2(){
      const btn = document.getElementById('add-cart').style;
      btn.backgroundColor = "black";
      btn.color="white"
    }
  </script>
    
{% endblock %}