[data-aos] {
    opacity: 0;
    transition-property: opacity, transform;
}

[data-aos].aos-animate {
    opacity: 1;
}

[data-aos][data-aos][data-aos-duration="400"],
body[data-aos-duration="400"] [data-aos] {
    transition-duration: 400ms;
}

[data-aos][data-aos][data-aos-delay="100"],
body[data-aos-delay="100"] [data-aos] {
    transition-delay: 0;
}

[data-aos][data-aos][data-aos-delay="100"].aos-animate,
body[data-aos-delay="100"] [data-aos].aos-animate {
    transition-delay: 100ms;
}

[data-aos^="fade"][data-aos^="fade"] {
    opacity: 0;
    transition-property: opacity, transform;
}

[data-aos^="fade"][data-aos^="fade"].aos-animate {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

[data-aos="fade-up"] {
    transform: translate3d(0, 20px, 0);
}

[data-aos="fade-down"] {
    transform: translate3d(0, -20px, 0);
}

[data-aos="fade-right"] {
    transform: translate3d(-20px, 0, 0);
}

[data-aos="fade-left"] {
    transform: translate3d(20px, 0, 0);
} 