@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    /* color: black; */
}

h4{
    font-size: 1.2rem;
    font-weight: 700;
    color: black;
}
body{
    line-height: 1.3;

}
.card-wrapper{
    max-width: 1200px;
    margin: 0 auto;
}
img{
    width: 100%;
    display: block;
}
.img-display{
    overflow: hidden;
}
.img-showcase{
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
}
.img-showcase img{
    min-width: 100%;
}
.img-select{
    display: flex;
}
.img-item{
    margin: 0.3rem;
}
.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3){
    margin-right: 0;
}
.img-item:hover{
    opacity: 0.8;
}
.product-content{
    height: auto;
    margin-top: 55px;
    padding: 2rem 1rem;
}
.product-title{
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    color: #12263a;
    margin: 1rem 0;
}
.product-title::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 80px;
    background: #12263a;
}
.product-link{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    color: #fff;
    padding: 0 0.3rem;
    transition: all 0.5s ease;
}
.product-link:hover{
    opacity: 0.9;
}
.product-rating{
    color: #ffc107;
}
.product-rating span{
    font-weight: 600;
    color: #252525;
}
.product-price{
    line-height: .5;
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 700;
}
.product-price span{
    font-weight: 400;
}
.last-price span{
    color: #f64749;
    text-decoration: line-through;
}
.new-price span{
    font-size: 1.5rem;
    color: #fff;
}
.product-detail h2{
    text-transform: capitalize;
    color: #12263a;
    padding-bottom: 0.6rem;
}
.product-detail p{
    color: black;
    font-size: 0.9rem;
    padding: 0.3rem;
    opacity: 0.8;
    font-weight: 500;
}

.availabeloffers h4{
    font-size: 1.3rem;
    font-weight: 700;
    color: black;
    /* line-height: 1px; */
}
.availabeloffers p{
    padding: 0;

}

.product-detail p i{
     margin-right: 10px;
     color: green;
     font-size: 1rem;
}

.blue{
    color: blue;
}
.product-detail ul{
    margin: 1rem 0;
    font-size: 0.9rem;
}
.product-detail ul li{
    margin: 0;
    list-style: none;
    /* background: url("../images/checked.d10d8f5514a9.png") left center no-repeat; */
    background-size: 18px;
    padding-left: 1.7rem;
    margin: 0.4rem 0;
    font-weight: 600;
    opacity: 0.9;
}
.product-detail ul li span{
    font-weight: 400;
}
.purchase-info{
    margin: 1.5rem 0;
}
.purchase-info input,
.purchase-info .btn{
    border: 1.5px solid #ddd;
    border-radius: 25px;
    text-align: center;
    padding: 0.45rem 0.8rem;
    outline: 0;
    margin-right: 0.2rem;
    margin-bottom: 1rem;
}
.purchase-info input{
    width: 80px;
}
.purchase-info .btn{
    cursor: pointer;
    color: #fff;
}
.purchase-info .btn:first-of-type{
    width: 160px;
}
.purchase-info .btn:last-of-type{
    width: 160px;
    background: #f64749;
}
.purchase-info .btn:hover{
    opacity: 0.9;
}
.social-links{
    display: flex;
    align-items: center;
}

.scoial-links p{
    margin-bottom: 0;
}
.social-links a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: #000;
    border: 1px solid #000;
    margin: 0 0.2rem;
    border-radius: 50%;
    text-decoration: none;
    font-size: 0.8rem;
    transition: all 0.5s ease;
}
.social-links a:hover{
    background: #000;
    border-color: transparent;
    color: #fff;
}

.colors ul{
    margin-top: 0;
    display: flex ;
    background: none;

}

.colors h4{
    font-size: 1.2rem;
    font-weight: 700;
    color: black;
}
.colors img{
    padding: 2px;
    /* border: 1px solid rgb(176, 176, 176); */
    /* border-radius: 4px; */
    height: 100px;
    width: 100px;
    scale: 1;
}

.colors img:hover{
    scale: 1.05;
}

.storage h4{
    font-size: 1.2rem;
    font-weight: 700;
    color: black;
}

.storage ul{
    margin-top: 0;
    display: flex;

}

.storage button{
    padding: 7px 20px;
    border: 2px solid #fff;
    border-radius: 5px;
    background-color: white;
    font-weight: 600;
}

.pincode{
    color: black;
}
.pincode form ul{

    display: flex;
    padding: 0;
    margin: 0;
    border-bottom: 3px solid #fff;
    max-width: 315px;
}

.pincode form ul li i{
    font-size: 1.5rem;
    color: #fff;
}
.pincode .inputflied input{
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 5px;
    max-width: 195px;
}

.pincode form ul li {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
}

.pincode .checkbutton input{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    padding: 5px 5px;
    background-color: white;
    color: #fff;
}

.highlights{
    margin-top: 20px;
    color: #000;

}
.highlightsdetails{
    display: flex;
    gap: 30px
    ;
}
.highlightsdetails ul li{
    padding-left: 0;
    list-style-type: circle;
}
.highlightsdetails ul li::marker{
    color: #fff;
}

.Seller ul li{
    padding-left: 0;
}
.Seller ul li::marker{
    color: #fff;
}

.description p{
    text-align: justify;
}



@media screen and (min-width: 986px){
    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;


    }
    .card-wrapper{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .product-imgs{
        display: flex;
        flex-direction: column;
        position: sticky;
        top: 0;
        align-self: start;
    }
    .product-content{
        padding-top: 0;
    }
}
